@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div style="background:white;border-radius:200px;padding:30px;width:250px;height:250px;margin: auto; margin-top:10%;margin-bottom:50px;border:2px solid black">
    <img style="height:190px; width:auto; " src="https://cdn-icons-png.flaticon.com/512/4378/4378832.png" />
    </div>


    <h1 style="color:black" class="display-4">Dobrodošli v upravjalnik<br /> pametnih naprav</h1>
  
</div>
